
body {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 100%;
    margin: 0;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    background-color: #333;
    color: #fff;
    padding: 0px;
}

.toolbar img {
    width: 100%;
    height: 300px;
}

.toolbar nav a {
    display: flex;
    position: absolute;
    margin-top: 5px;
    right: calc(1%);
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login {
    text-align: center;
    margin: 20px 0;
}

.login h1 {
    color: black;
    font-weight: bold;
    font-size: 250%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="password"],
button[type="submit"] {
    border-color: #FCDA00;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    width: 92.2%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button[type="submit"] {
    margin-left: 3%;
}

input[type="email"],
input[type="password"] {
    background-color: white;
}

button[type="submit"] {
    background-color: #FCDA00;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: yellow;
}

.sign-up {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.sign-up p a {
    font-weight: bold;
    text-decoration: none;
    color: #FCDA00;
}

.sign-up p a:hover {
    background: yellow;
    border-radius: 10px;
}
