
.toolbar {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;;
  height: 100%;
  display: block;
  align-items: center;
  color: white;
  font-weight: 600;
}
.content {
    display: block;
    margin-top: 400px;
}